body {
  background: linear-gradient(150deg, #000017, #17234a) !important;
  overflow-x: hidden !important;
  height: 100% !important;
  background-attachment: fixed !important;
}

.ui.inverted.top.fixed.menu {
  background-color: #000017 !important;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
}

.react-calendar__navigation button {
  color: #6f48eb !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa !important;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0 !important;
}
abbr[title] {
  text-decoration: none !important;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa !important;
  color: #6f48eb !important;
  border-radius: 6px !important;
}
.react-calendar__tile--now {
  background: #6f48eb33 !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  color: #6f48eb !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33 !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  color: #6f48eb !important;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa !important;
}
.react-calendar__tile--active {
  background: #6f48eb !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  color: white !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb !important;
  color: white !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa !important;
}
.react-calendar__tile--range {
  background: #f8f8fa !important;
  color: #6f48eb !important;
  border-radius: 0 !important;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  background: #6f48eb !important;
  color: white !important;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  background: #6f48eb !important;
  color: white !important;
}

.react-datepicker-wrapper {
  width: 100%;
  border: none !important;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(135deg, rgb(0, 0, 23) 0%, rgb(23, 35, 74) 48%, rgb(61, 68, 137) 89%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
/*end home page styles*/
